{% extends "root.html" %}

{% block headers %}

<meta property="og:type" content="{{ metadata.type }}" />
<meta property="og:title" content="{{ metadata.name }}" />
<meta property="og:description" content="{{ metadata.description | escape  }}" />
<meta property="twitter:title" content="{{ metadata.name | escape  }}" />
<meta property="twitter:description" content="{{ metadata.description | escape  }}" />

{% endblock %}

{% block content %}

<h2>{{metadata.name}}</h2>

{{ content }}
{% endblock %}